@{
ViewData["Title"] = "Edit Employee";
}

@model Employee

<form method="post">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3>Edit employee details:</h3>

            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="ViewEmployees">Cancel</a>
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label asp-for="FirstName">First Name</label></td>
                            <td><input class="width=100%;" asp-for="FirstName" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="LastName">Last Name</label></td>
                            <td><input class="width=100%;" asp-for="LastName" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="International">International</label></td>
                            <td><input class="width=100%;" asp-for="International" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Gender">Gender</label></td>
                            <td><input class="width=100%;" asp-for="Gender" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Email">Email</label></td>
                            <td><input class="width=100%;" asp-for="Email" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="ExpectedHours">Expected Hours</label></td>
                            <td><input class="width=100%;" asp-for="ExpectedHours" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Semester">Semester</label></td>
                            <td><input class="width=100%;" asp-for="Semester" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Year">Year</label></td>
                            <td><input class="width=100%;" asp-for="Year" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Phone">Phone</label></td>
                            <td><input class="width=100%;" asp-for="Phone" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="BYUID">BYU ID</label></td>
                            <td><input class="width=100%;" asp-for="BYUID" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="PositionType">Position Type</label></td>
                            <td><input class="width=100%;" asp-for="PositionType" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="ClassCode">Class Code</label></td>
                            <td><input class="width=100%;" asp-for="ClassCode" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="EmplRecord">Empl Record</label></td>
                            <td><input class="width=100%;" asp-for="EmplRecord" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Supervisor">Supervisor</label></td>
                            <td><input class="width=100%;" asp-for="Supervisor" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="HireDate">Hire Date</label></td>
                            <td><input class="width=100%;" asp-for="HireDate" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="PayRate">Pay Rate</label></td>
                            <td><input class="width=100%;" asp-for="PayRate" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="LastPayIncrease">Last Pay Increase</label></td>
                            <td><input class="width=100%;" asp-for="LastPayIncrease" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="PayIncreaseAmount">Pay Increase Amount</label></td>
                            <td><input class="width=100%;" asp-for="PayIncreaseAmount" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="IncreaseInputDate">Increase Input Date</label></td>
                            <td><input class="width=100%;" asp-for="IncreaseInputDate" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="YearInProgram">Year In Program</label></td>
                            <td><input class="width=100%;" asp-for="YearInProgram" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="PayGradTuition">Pay Grad Tuition</label></td>
                            <td><input class="width=100%;" asp-for="PayGradTuition" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="NameChangeCompleted">Name Change Completed</label></td>
                            <td><input class="width=100%;" asp-for="NameChangeCompleted" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Notes">Notes</label></td>
                            <td><textarea asp-for="Notes"></textarea></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Terminated">Terminated</label></td>
                            <td><input class="width=100%;" asp-for="Terminated" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="TerminationDate">Termination Date</label></td>
                            <td><input class="width=100%;" asp-for="TerminationDate" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="QualtricsSurveySent">Qualtrics Survey Sent</label></td>
                            <td><input class="width=100%;" asp-for="QualtricsSurveySent" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="SubmittedEForm">Submitted E-Form</label></td>
                            <td><input class="width=100%;" asp-for="SubmittedEForm" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="EFormSubmissionDate">E-Form Submission Date</label></td>
                            <td><input class="width=100%;" asp-for="EFormSubmissionDate" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="AuthorizationToWorkReceived">Authorization To Work Received</label></td>
                            <td><input class="width=100%;" asp-for="AuthorizationToWorkReceived" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="AuthorizationToWorkEmailSentDate">Authorization To Work Email Sent Date</label></td>
                            <td><input class="width=100%;" asp-for="AuthorizationToWorkEmailSentDate" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="BYUName">BYU Name</label></td>
                            <td><input class="width=100%;" asp-for="BYUName" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
