@{
    ViewData["Title"] = "Delete Employee";
}

@model Employee

<div class="container px-5">
    <h1 class="text-center">Confirm Deletion</h1>
    <hr />

    <div class="row">
        <div class="col-md-auto">
            <h3>Are you sure you want to delete @Model.FirstName @Model.LastName?</h3>
        </div>
    </div>
    <hr />

    <form method="post" asp-controller="Home" asp-action="Delete">
        <div class="row">
            <div class="col-md-auto">
                <a asp-controller="Home" asp-action="EmployeeDetails" asp-route-employeeId="@Model.EmployeeId" 
                   class="btn btn-outline-secondary">Cancel</a>
            </div>

            <div class="col-md-auto">
                <button type="submit" class="btn btn-outline-danger">Delete</button>

                <input type="hidden" asp-for="EmployeeId" />
            </div>
        </div>
    </form>
</div>